.wd-font { font-family: Verdana; }
.wd-fg-color-black { color: black; }
.wd-fg-color-white { color: white; }
.wd-fg-color-dark-grey { color: darkslategrey; }

.wd-bg-color-black
{ background-color: black; }
.wd-bg-color-dark-grey
{ background-color: #0f0f0f;}


.wd-border-fat
{ border-width: 20px 30px 20px 30px; }
.wd-border-thin { border-width: 4px; }
.wd-border-solid { border-style: solid; }
.wd-border-dashed { border-style: dashed; }
.wd-border-blue { border-color: #7070ff; }


.wd-rounded-corners-all-around {
  border-radius: 50px;
}


.wd-float-left {
  float: left;
}

.wd-float-right {
  float: right;
  height: 100px;
}

.wd-float-done {
  clear: both;
}




.wd-search-bar {
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  width: 85%;
  height: 30px;
  padding-left: 10px;

}

.wd-gear {
  position: relative;
  left: 90%;
  bottom: 38px;
  font-size: 30px;
}

.wd-middle {
  position: relative;
  bottom: 40px
}


.wd-width-100 {
  width: 100%;
}

.wd-highlighted-hyperlink {

  color: rgb(29,161,242);
  float: left;
  font-size: 15px;
  padding: 16px 0px;
  margin: 20px 10% 0px 15%;
  border-bottom: rgb(29,161,242) solid 3px;

}


.wd-padding-left-more-icon {
  padding-left: 3px;
}

.wd-non-highlighted-hyperlink {

  color: rgb(101,118,125);
  float: left;
  width: 10%;
  font-size: 15px;
  padding: 16px 0px;
  margin: 20px 15px 0px 15px;

}

.wd-float-done {
  clear: both;
}


.wd-suggested-type {
  position: relative;
  top: 60px;
  left: 50px;

  color: rgb(110, 118, 125);
  font-size: 13px;
}

.wd-suggested-author {
  position: relative;
  top: 60px;
  left: 50px;

  color: white;
  font-size: 13px;
}

.wd-suggested-name {
  position: relative;
  top: 70px;
  left: 50px;

  color: white;
  font-size: 20px;
}

.wd-suggested-tuits {
  position: relative;
  top: 80px;
  left: 50px;

  color: rgb(110, 118, 125);
  font-size: 13px;
}

.wd-hr-suggested {
  position: relative;
  padding-top: 50px;
  border-top: 1px solid rgb(47, 51, 54);
}



.wd-account-image {
  float: left;
  margin-right: 5px;
  border-radius: 15px;
  height: 30px;
  width: 30px;
}

.wd-account-info {
  font-size: 10px;
}

.wd-account-follow {
  float: right;
  border-radius: 15px;
  width: 40%;
}

.wd-middle-big-image-caption {
  font-size: 30px;
  font-weight: bold;
  color: white;
  position: relative;
  bottom: 50px;
  left: 10px;
}


.wd-center-lineup {
  position: relative;
  bottom: 45px;
}

.wd-new-tuit-icons {
  color: dodgerblue;
  padding-right: 10px;
}

.wd-handle {
  color: lightgrey;
}

.wd-article-stats {
  margin: 10px;
}

.wd-article-statistic {
  text-decoration: none;
  padding-right: 100px;
  color:white;
}


.wd-article-image{
  position: relative;
  float: left;
  height: 300px;
  width: 100%;
  border-radius: 1px;
}

.wd-whats-happening-textbox{
  width: 100%;
  background-color: black;
  border: transparent;
}
